<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{url_for('static' , filename = 'normalize.css')}}>
    <link rel="stylesheet" href={{url_for('static' , filename = 'grid.css')}}>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>WWII US Navy Fighter Image Classifier</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
    <title>Image Classification WebApp</title>
    <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />

<style>
  .content {
    max-width: 500px;
    margin: auto;
    }
  .bg-img{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(166, 190, 218, 0.5),rgba(0, 0, 0, 0.7)),url('static/css/front.jpg');
    background-size: cover;
    background-position: center;
  }
  
</style>

</head>

  <body>
	<div class="bg-img">
	<div class="content">
        <div class = "index-main">

        <div style = "width : 100%; padding-top : 5%;">
            <div class = "header-content">
                 <h1 style = "text-align: center;color: rgb(27, 140, 233)"><span class="header-content-text">WWII USN Fighter Image Classifier</span></h1>
                </div>
        </div>

        <div class = "header-content-sub">
          <p style = "text-align: center;color: rgb(0, 0, 0)"><span class="header-content-text">Upload a picture of a USN fighter from WWII and this app will tell you which one it is. Photos of actual aircraft work well, but so do "good" paintings and pictures of model aircraft with sufficient realism. For example a skilled hobbyist model aircraft should work, but a LEGO aircraft probably won't.</span></p>
          
          <p style = "text-align: center;color:rgb(255, 0, 0)" class="header-content-info">CLASSES:</p>
          <p style = "text-align: center;color:rgb(255, 0, 0)" class="header-content-info">TBF Avenger, F8F Bearcat, F2A Buffalo, F4U Corsair, SBD Dauntless, TBD Devastator, F6F Hellcat, SB2C Helldiver, F4F Wildcat</p>
        </div>

        <div class="upload-section">
            <div class="upload-file">
                <form class = "file-form" action="/success" method="post", enctype="multipart/form-data">
                    <input class="file-form-input" type="file" , name = "file"/>
                    <button class="btn btn-success btn-lg">Upload Image</button> 
                </form>
            </div>

            <div class="uploadOR">
                <span>OR</span>
            </div>

            <div class="upload-link">
                <form class = "link-form" action="/success" method="post", enctype="multipart/form-data">
                    <input class="link-form-input" type="text" ,maxlength="1000" , name = "link" placeholder="Paste the image URL"/>
                    <button class="btn btn-success btn-lg">Download Image</button> 
                </form>
            </div>

            <div class = "header-content-sub">
                    <p style = "text-align: center; margin-top: 15px;color: red" class="header-content-info">{{error}}</p>
            </div>
        </div>

        <div class = "footer">
            <div class = "header-content-sub">
                    <p style = "text-align: center;color: rgb(255, 255, 255)" class="header-content-info">*The model only knows those five USN fighters and will attempt to classify any image you upload as one of them.</p>
            </div>
        </div>
	     </div>  
	</div>			 
	</div>	 
  </body>



<!--
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="Lexus" class="logo" />
      {% if message %}
      <p class="message">{{ message | safe }}</p>
      {% endif %}
      <form action="/submit" method="POST">
        <div class="form-group">
          <h3>Customer Name</h3>
          <input
            type="text"
            name="customer"
            placeholder="Name of vehicle owner"
          />
        </div>
        <div class="form-group">
          <h3>Dealer</h3>
          <select name="dealer">
            <option value="">Select Dealer</option>
            <option value="Tom Smith">Tom Smith</option>
            <option value="Karen Swanson">Karen Swanson</option>
            <option value="Jim Johnson">Jim Johnson</option>
            <option value="Shauna Gifford">Shauna Gifford</option>
          </select>
        </div>
        <div class="form-group">
          <h3>Please rate your dealer</h3>
          <input type="radio" name="rating" value="1" /> 1
          <input type="radio" name="rating" value="2" /> 2
          <input type="radio" name="rating" value="3" /> 3
          <input type="radio" name="rating" value="4" /> 4
          <input type="radio" name="rating" value="5" /> 5
          <input type="radio" name="rating" value="6" /> 6
          <input type="radio" name="rating" value="7" /> 7
          <input type="radio" name="rating" value="8" /> 8
          <input type="radio" name="rating" value="9" /> 9
          <input type="radio" name="rating" value="10" checked /> 10
        </div>
        <div class="form-group">
          <h3>Comments about your experience</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Tell us what you liked and/or did not like"
          ></textarea>
        </div>
        <input type="submit" value="Submit" class="btn" />
      </form>
    </div>
  </body>
-->

</html>